USE [master]
GO
/****** Object:  Database [CERVECERIA]    Script Date: 7/9/2022 21:08:00 ******/
CREATE DATABASE [CERVECERIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CERVECERIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CERVECERIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CERVECERIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CERVECERIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CERVECERIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CERVECERIA]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 7/9/2022 21:08:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Codigo] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Cargo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/9/2022 21:08:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [nchar](10) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Sector] [nvarchar](50) NULL,
	[Usuario] [nvarchar](50) NULL,
	[Contraseña] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Empleados] ([Codigo], [Nombre], [Apellido], [Cargo]) VALUES (N'2', N'MAuro', N'MAuro', N'MAuro')
INSERT [dbo].[Empleados] ([Codigo], [Nombre], [Apellido], [Cargo]) VALUES (N'1', N'pero', N'per', N'per')
GO
INSERT [dbo].[Usuario] ([ID], [Nombre], [Apellido], [Sector], [Usuario], [Contraseña]) VALUES (N'1         ', N'Mauro', N'Leta', N'Admin', N'Mauro', N'Mauro123')
GO
USE [master]
GO
